@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 17% 98%;
    --foreground: 210 17% 15%;
    --card: 0 0% 100%;
    --card-foreground: 210 17% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 210 17% 15%;
    --primary: 207 65% 62%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 17% 94%;
    --secondary-foreground: 210 17% 15%;
    --muted: 210 17% 94%;
    --muted-foreground: 210 17% 45%;
    --accent: 207 70% 53%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 17% 90%;
    --input: 210 17% 90%;
    --ring: 207 70% 53%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 210 10% 12%;
    --foreground: 210 17% 85%;
    --card: 210 10% 16%;
    --card-foreground: 210 17% 85%;
    --popover: 210 10% 16%;
    --popover-foreground: 210 17% 85%;
    --primary: 207 65% 62%;
    --primary-foreground: 210 17% 98%;
    --secondary: 210 10% 20%;
    --secondary-foreground: 210 17% 98%;
    --muted: 210 10% 20%;
    --muted-foreground: 210 17% 55%;
    --accent: 207 70% 53%;
    --accent-foreground: 210 17% 98%;
    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 10% 24%;
    --input: 210 10% 24%;
    --ring: 207 70% 53%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
